@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #292929;
}
a{color: #292929;}
a:hover{color: rgb(0 114 187);text-decoration: none;}
#header{
	width: 100%;
	background-color: #f2f2f2;
	background: -moz-linear-gradient(bottom, #fff 40%, #f2f2f2 60%);
	background: -o-linear-gradient(bottom, #fff 40%, #f2f2f2 60%);
	background: -ms-linear-gradient(bottom, #fff 40%, #f2f2f2 60%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, #fff),color-stop(0.6, #f2f2f2));
}
.bg-header{
	background: url(../images/bg-header.png) no-repeat right;
	width: 100%;
	height: 130px;
	position: relative;
}
.logo{
	margin-right: 20px;
	margin-top: 17px;
	float: left;
}
.slogan{
	left: 120px;
	top: 7px;
}
.slogan h3{
	text-transform: uppercase;
	color: #0073a8;
	font-size: 20px;
}
.slogan h1{
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
	color: #0073a8;
	font-weight: 700;
	font-size: 34px;
}
.slogan h4{
	font-size: 16px;
	margin-top: 0;
	text-transform: uppercase;
}
.trongdong{
	background: url(../images/trongdong.png) no-repeat;
	height: 130px;
}
.bg-do{
	background: rgb(0, 114, 187) !important;
}
.bg-doCC{
	background: rgb(0 114 187);
}
.bg-do1{
	background: rgb(0, 114, 187) !important;
    border-top: solid 1px #fff;
    border-bottom: solid 5px rgb(0, 90, 150);
	margin-bottom: 10px;
}
.navbar-none{
	border-radius: 0;
	border: none;
}
.bg-do .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-right: solid 1px rgba(255,255,255,0.3);
}

.bg-do .navbar-nav > li > a:hover {
    color: #fff;
    background: rgba(255,255,255,0.15);
}
.bg-do .navbar-nav > .active > a{
	background: rgb(0 114 187);
	
}
.mr-5{margin-right: 5px;}
.navbar{min-height:auto;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	background: rgb(0 114 187);
}
.text-e{
	font-size: 15px !important;
	text-transform: none !important;
}
.bo-rnone{
	border-radius: 4px;
	border: solid 1px #fff !important;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 10px;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	margin-top: 3px;
	color: #fff !important;
}
.ptb-4{
	padding: 4px 18px !important;
}
.mb-0{
	margin-bottom: 0;
}
.bg-den{
	background: rgba(0, 0, 0, 0.5);
	text-align: inherit;
	padding: 10px 20px;
	bottom: 0;
}
.icon-slide{
	right: 0;
	left: auto;
	width: 45%;
	bottom: 10px;
}
.tle-hot, .tle-hot:hover{color: #fff;}
.tle-cmhot{
	background: rgb(0 114 187);
	padding: 4px 12px;
	color: #fff;
	text-transform: uppercase;
	margin-right: 10px;
}
.tle-cmhot:hover{color: #fff;}
.mb-5{margin-bottom: 10px;}
.mt-0{margin-top: 0;}
.bg-xam{
	background: #f2f2f2;
}
.tle-cmtk{
	background: #e3e3e3;
	padding: 2px 6px;
	color: rgb(0 114 187);
	text-transform: uppercase;
	margin-right: 10px;
	font-size: 15px;
}
.thongbao{
	
}
.bt-tb{
	float: left;
	background: rgb(0 114 187);
	padding: 5px 10px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 1px;
	margin-top: 1px;
}
.icon-tb{
	border: solid 2px #fff;
	border-radius: 20px;
	color: #fff !important;
	width: 30px;
	height: 30px;
	padding: 2px;
	font-size: 20px;
}

.thongbao a{
	font-size: 20px;
}
.text-ngay{
	font-size: 16px;
	color: rgb(0 114 187);
	font-style: italic;
}
.icon-lienket{
	background: rgb(0 114 187);
	padding-bottom: 10px;
	padding-top: 10px;
}
.tle{
	background: rgb(0 114 187);
	border-left: solid 10px rgb(0 114 187);
	padding: 6px 10px;
	margin-bottom: 0;
}
.tle-lienket{
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top: 0;
	text-align: center;
}
.tle-lienket a{color: rgb(0 114 187);}
.tle a{
	color: #fff;
	text-transform: uppercase;
}
.tle1 a{
	padding: 6px 0px;
	margin-bottom: 0;
	color: rgb(0 114 187);
	text-transform: uppercase;
	margin-top: 0;
}
.menu-cm{padding-left: 20px !important; color: #8a8384 !important;font-size: 20px;}
.box-tin-lk{
	background: #ecdca4;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 7px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.box-tin{
	border-bottom: solid 1px #e6e6e6;
	border-top: none;
	border-left: solid 1px #e6e6e6;
	border-right: solid 1px #e6e6e6;
	padding: 20px;
}
.box-tin ul li{
	padding-bottom: 15px;
	text-align: justify;
	background: url(../images/li.png) no-repeat left 10px;
	padding-left: 10px;
}
.box-tin .listtin li:first-child{
	background-image: none;
	padding-left: 0;
	padding-bottom: 0;
}
.text-ngayxam{
	color: #999999;
	font-size: 14px;
	font-style: italic;
}
.li-last{
	font-size: 19px;
	font-weight: 700;
}
.text-xemthem{
	font-style: italic;
	color: rgb(0 114 187);
}
.text-do{
	color: rgb(0 114 187);
	font-weight: 700;
}
.box-weblink{
	background: #f1f1f1;
	border: solid 1px #e6e6e6;
	margin-top: 20px;
}
.text-link{
	color: rgb(0 114 187);
	text-transform: uppercase;
	padding: 6px 10px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	
}
.link-a{margin-bottom: 0;}
.link-a li{
	background: url(../images/trongdong1.png) no-repeat center -90px #d4be70;
	padding: 10px;
	border-radius: 6px;
	border: solid 1px #d4be70;
	margin-bottom: 10px;
}
.link-a li:last-child{margin-bottom: 0;}
.link-a li:hover{
	border: solid 1px rgb(0 114 187);
}
.link-a li a:hover{color: rgb(0 114 187);}
.link-a li a{
	color: #5a3909;
	text-transform: uppercase;
}
.min-h{
	min-height: 590px;
}
.pos{position: relative;}
.pos-a{
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.inline-block{display: inline-block;}
.bg-tle{background: url(../images/bg-tle.png) no-repeat right rgb(0 114 187);padding-right: 80px;}
.bo-topdo{border-top: solid 2px rgb(0 114 187) !important;}
.text-tomtat{
	text-align: justify;
	color: #494949;
}
.hover-mang{clear: both;width: 100%;display: inline-block; border-bottom: solid 1px #e6e6e6; margin-bottom: 10px;padding-bottom: 5px;}
.icon-mang{
	float: left;
	margin-right: 5px;
	font-size: 22px!important;
}
.fb{color: #5e78b1;}
.t{color: #68bfe8;}
.g{color: #fb3131;}
.fb:hover{color: #5e78b1;}
.t:hover{color: #68bfe8;}
.g:hover{color: #fb3131;}
.mb-20{margin-bottom: 20px;}
.icon-mang-f{
	float: left;
	margin-right: 5px;
	font-size: 22px!important;
	color: #fff;
}
.icon-mang-f:hover{color: #68bfe8;}
.box-totung{
	background: #f2f2f2;
	padding-bottom: 10px;
	padding-top: 20px;
}
.tle-totung{
	text-align: center;
	background: url(../images/bg-totung.gif) repeat top;
	margin-bottom: 0;
	margin-top: 10px;
}
.tle-totung a{
	border: solid 2px rgb(0 114 187);
	border-radius: 25px;
	background: #fff;
	padding: 4px 20px;
	color: rgb(0 114 187);
	text-transform: uppercase;
}
.tintiep li{
	padding-bottom: 15px !important;
	text-align: justify;
	background: url(../images/li.png) no-repeat left 10px !important;
	padding-left: 10px !important;
}
.box-logo{
	border: solid 1px #e6e6e6;
	border-radius: 6px;
	padding: 10px;
	display: block;
	background: #fff;
}
.pad-tb20{
	padding-bottom: 10px;
	text-align: center;
}
.pad20{padding-top: 20px;padding-bottom: 20px;}
.bg-doxam{
	background: rgb(0 114 187);
}
/*menu*/
.navbar-nav>li>.dropdown-menu {
    margin-top:0;
}
.navbar-default .navbar-nav>li>a {
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
@media (min-width: 768px)
    {
.open .dropdown-toggle:after {
    border-bottom: 15px solid #fff;/*
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;*/
    content: "";
    left: 163px;
    position: absolute;
    bottom: -21px;
    z-index: 1500;
}
.open .dropdown-toggle span:after {
    border-bottom: 17px solid #ccc;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    content: "";
    left: -10px;
    position: absolute;
    bottom: -41px;
    z-index: 8;
}
		
		
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: rgb(0 114 187);
    font-size: 18px;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
/*slide*/
.carousel-control1{
	width: 2%;
	background-image: none !important;
	color: #fff;
	top: 35%;
}
.carousel-control12{
	width: 2%;
	background-image: none !important;
	color: #fff;
	top: 28%;
}
.carousel-control1:hover,
.carousel-control1:focus{
	color: #eee;
}
.left1{
	left: 0;
}
.right1{
	right: 0 !important;
}
/*end slide*/
.bo-r{
	border-right: solid 1px #e6e6e6;
}
.ulmenu-f li{
	margin-bottom: 10px;
}
.ulmenu-f li a{
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	
}
.ulmenu-f li span{padding-left: 15px; padding-right: 5px;color: #fff;}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bo-b{border-bottom: solid 1px #fff;}
.bo-do3{border-bottom: solid 3px #fff !important;}
.text-f{border-right: solid 1px #fff;}
.text-f h4, .text-f h1{
	color: #fff;
	
}
.text-trang{color: #fff;}
.mt-20{margin-top: 20px;}
/*5 col*/
@media (min-width: 768px){
    .fivecolumns .col-md-2, .fivecolumns .col-sm-2, .fivecolumns .col-lg-2  {
        width: 20%;
        *width: 20%;
    }
}
@media (min-width: 1200px) {
    .fivecolumns .col-md-2, .fivecolumns .col-sm-2, .fivecolumns .col-lg-2 {
        width: 20%;
        *width: 20%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .fivecolumns .col-md-2, .fivecolumns .col-sm-2, .fivecolumns .col-lg-2 {
        width: 20%;
        *width: 20%;
    }
}
/*end 5 col*/
.box-td{
	border-radius: 6px;
	background: url(../images/trongdong1.png) no-repeat center -90px #f4daac;
	padding: 10px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
	min-height: 130px;
}
.box-td1{
	border-radius: 6px;
	text-align: center;
	display: block;
	font-size: 15px;
	color: #fff;
	line-height: 1.2 !important;
	border-radius: 0;
	min-height: 120px;
}
.box-td1:hover{color: #fff;}
.bo-r1{border-right: solid 1px #fff;}
.bg-fa{
	color: rgb(0 114 187);
	background: #fff;
	padding: 6px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	line-height: 1.3 !important;
	margin-bottom: 5px;
}
/*chữ chạy*/
.marquee {  
        height: 40px;  
        overflow: hidden;  
        position: relative;  
    }  

    .marquee p {  
        position: absolute;
        width: 100%;  
        height: 100%;  
        margin: 0;
		line-height: 40px;
        filter: dropshadow(color=#000000, offx=1, offy=1);  
    }  

    /* Hieu ung chu chay len tren */
    .marquee.up p {   
        transform:translateY(100%);  
        -webkit-transform:translateY(100%);
        -moz-transform:translateY(100%);
    }  
    .marquee.up p:nth-child(1) {  
        animation: up-one 20s ease infinite;  
        -webkit-animation: up-one 20s ease infinite;
        -moz-animation: up-one 20s ease infinite;
    }  
    .marquee.up p:nth-child(2) {  
        animation: up-two 20s ease infinite; 
        -webkit-animation: up-two 20s ease infinite; 
        -moz-animation: up-two 20s ease infinite;  
    }  
    
    @keyframes up-one {  
        0%  {  
            transform:translateY(100%);  
        }  
        10% {  
            transform:translateY(0);  
        }  
        40% {  
            transform:translateY(0);  
        }  
        50% {  
            transform:translateY(-100%);  
        }  
        100%{  
            transform:translateY(-100%);  
        }  
    }  

    @-webkit-keyframes up-one {  
        0%  {  
            -webkit-transform:translateY(100%);  
        }  
        10% {  
            -webkit-transform:translateY(0);  
        }  
        40% {  
            -webkit-transform:translateY(0);  
        }  
        50% {  
            -webkit-transform:translateY(-100%);  
        }  
        100%{  
            -webkit-transform:translateY(-100%);  
        }  
    } 

    @-moz-keyframes up-one {  
        0%  {  
            -moz-transform:translateY(100%);  
        }  
        10% {  
            -moz-transform:translateY(0);  
        }  
        40% {  
            -moz-transform:translateY(0);  
        }  
        50% {  
            -moz-transform:translateY(-100%);  
        }  
        100%{  
            -moz-transform:translateY(-100%);  
        }  
    } 
    
    @keyframes up-two {  
        0% {  
            transform:translateY(100%);  
        }  
        50% {  
            transform:translateY(100%);  
        }  
        60% {  
            transform:translateY(0);          
        }  
        90% {  
            transform:translateY(0);          
        }  
        100%{  
            transform:translateY(-100%);  
        }  
    }

    @-webkit-keyframes up-two {  
        0% {  
            -webkit-transform:translateY(100%);  
        }  
        50% {  
            -webkit-transform:translateY(100%);  
        }  
        60% {  
            -webkit-transform:translateY(0);          
        }  
        90% {  
            -webkit-transform:translateY(0);          
        }  
        100%{  
            -webkit-transform:translateY(-100%);  
        }  
    }

    @-moz-keyframes up-two {  
        0% {  
            -moz-transform:translateY(100%);  
        }  
        50% {  
            -moz-transform:translateY(100%);  
        }  
        60% {  
            -moz-transform:translateY(0);          
        }  
        90% {  
            -moz-transform:translateY(0);          
        }  
        100%{  
            -moz-transform:translateY(-100%);  
        }  
    }

    /* Hieu ung chu chay xuong duoi */

    .marquee.down p {  
        transform:translateY(-100%); 
        -webkit-transform:translateY(-100%);  
        -moz-transform:translateY(-100%); 
    }  

    .marquee.down p:nth-child(1) {  
        animation: down-one 20s ease infinite; 
        -webkit-animation: down-one 20s ease infinite; 
        -moz-animation: down-one 20s ease infinite;
    }  
    .marquee.down p:nth-child(2) {  
        animation: down-two 20s ease infinite;  
        -webkit-animation: down-two 20s ease infinite; 
        -moz-animation: down-two 20s ease infinite; 
    }  

    @keyframes down-one {  
        0%  {  
            transform:translateY(-100%);  
        }  
        10% {  
            transform:translateY(0);  
        }  
        40% {  
            transform:translateY(0);  
        }  
        50% {  
            transform:translateY(100%);  
        }  
        100%{  
            transform:translateY(100%);  
        }  
    }  

    @-webkit-keyframes down-one {  
        0%  {  
            -webkit-transform:translateY(-100%);  
        }  
        10% {  
            -webkit-transform:translateY(0);  
        }  
        40% {  
            -webkit-transform:translateY(0);  
        }  
        50% {  
            -webkit-transform:translateY(100%);  
        }  
        100%{  
            -webkit-transform:translateY(100%);  
        }  
    }  

    @-moz-keyframes down-one {  
        0%  {  
            -moz-transform:translateY(-100%);  
        }  
        10% {  
            -moz-transform:translateY(0);  
        }  
        40% {  
            -moz-transform:translateY(0);  
        }  
        50% {  
            -moz-transform:translateY(100%);  
        }  
        100%{  
            -moz-transform:translateY(100%);  
        }  
    }  


    @keyframes down-two {  
        0% {  
            transform:translateY(-100%);  
        }  
        50% {  
            transform:translateY(-100%);  
        }  
        60% {  
            transform:translateY(0);          
        }  
        90% {  
            transform:translateY(0);          
        }  
        100%{  
            transform:translateY(100%);  
        }  
    }    

    @-webkit-keyframes down-two {  
        0% {  
            -webkit-transform:translateY(-100%);  
        }  
        50% {  
            -webkit-transform:translateY(-100%);  
        }  
        60% {  
            -webkit-transform:translateY(0);          
        }  
        90% {  
            -webkit-transform:translateY(0);          
        }  
        100%{  
            -webkit-transform:translateY(100%);  
        }  
    } 

    @-moz-keyframes down-two {  
        0% {  
            -moz-transform:translateY(-100%);  
        }  
        50% {  
            -moz-transform:translateY(-100%);  
        }  
        60% {  
            -moz-transform:translateY(0);          
        }  
        90% {  
            -moz-transform:translateY(0);          
        }  
        100%{  
            -moz-transform:translateY(100%);  
        }  
    } 

    /* Hieu ung chu chay sang trai */

    .marquee.left p:nth-child(1) {  
        animation: left-one 20s ease infinite; 
        -webkit-animation: left-one 20s ease infinite; 
        -moz-animation: left-one 20s ease infinite;
    }  
    
    .marquee.left p:nth-child(2) {  
        animation: left-two 20s ease infinite; 
        -webkit-animation: left-two 20s ease infinite; 
        -moz-animation: left-two 20s ease infinite;
    }  


    @keyframes left-one {  
        0%  {  
            transform:translateX(100%);  
        }  
        10% {  
            transform:translateX(0);  
        }  
        40% {  
            transform:translateX(0);  
        }  
        50% {  
            transform:translateX(-100%);  
        }  
        100%{  
            transform:translateX(-100%);  

        }  
    }  

    @-webkit-keyframes left-one {  
        0%  {  
            -webkit-transform:translateX(100%);  
        }  
        10% {  
            -webkit-transform:translateX(0);  
        }  
        40% {  
            -webkit-transform:translateX(0);  
        }  
        50% {  
            -webkit-transform:translateX(-100%);  
        }  
        100%{  
            -webkit-transform:translateX(-100%);  
        }  
    }


    @-moz-keyframes left-one {  
        0%  {  
            -moz-transform:translateX(100%);  
        }  
        10% {  
            -moz-transform:translateX(0);  
        }  
        40% {  
            -moz-transform:translateX(0);  
        }  
        50% {  
            -moz-transform:translateX(-100%);  
        }  
        100%{  
            transform:translateX(-100%);  
        }  
    }    
    
    @keyframes left-two {  
        0% {  
            transform:translateX(100%);  
        }  
        50% {  
            transform:translateX(100%);  
        }  
        60% {  
            transform:translateX(0);          
        }  
        90% {  
            transform:translateX(0);          
        }  
        100%{  
            transform:translateX(-100%);  
        }  
    }  

    @-webkit-keyframes left-two {  
        0% {  
            -webkit-transform:translateX(100%);  
        }  
        50% {  
            -webkit-transform:translateX(100%);  
        }  
        60% {  
            -webkit-transform:translateX(0);          
        }  
        90% {  
            -webkit-transform:translateX(0);          
        }  
        100%{  
            -webkit-transform:translateX(-100%);  
        }  
    }  

    @-moz-keyframes left-two {  
        0% {  
            -moz-transform:translateX(100%);  
        }  
        50% {  
            -moz-transform:translateX(100%);  
        }  
        60% {  
            -moz-transform:translateX(0);          
        }  
        90% {  
            -moz-transform:translateX(0);          
        }  
        100%{  
            -moz-transform:translateX(-100%);  
        }  
    }  



    /* Hieu ung chu chay sang phải */
    @keyframes right-one {  
        0%  {  
            transform:translateX(-100%);  
        }  
        10% {  
            transform:translateX(0);  
        }  
        40% {  
            transform:translateX(0);  
        }  
        50% {  
            transform:translateX(100%);  
        }  
        100%{  
            transform:translateX(100%);  
        }  
    }  

    @-webkit-keyframes right-one {  
        0%  {  
            -webkit-transform:translateX(-100%);  
        }  
        10% {  
            -webkit-transform:translateX(0);  
        }  
        40% {  
            -webkit-transform:translateX(0);  
        }  
        50% {  
            -webkit-transform:translateX(100%);  
        }  
        100%{  
            -webkit-transform:translateX(100%);  
        }  
    } 

    @-moz-keyframes right-one {  
        0%  {  
            -moz-transform:translateX(-100%);  
        }  
        10% {  
            -moz-transform:translateX(0);  
        }  
        40% {  
            -moz-transform:translateX(0);  
        }  
        50% {  
            -moz-transform:translateX(100%);  
        }  
        100%{  
            -moz-transform:translateX(100%);  
        }  
    }   

    
    @keyframes right-two {  
        0% {  
            transform:translateX(-100%);  
        }  
        50% {  
            transform:translateX(-100%);  
        }  
        60% {  
            transform:translateX(0);          
        }  
        90% {  
            transform:translateX(0);          
        }  
        100%{  
            transform:translateX(100%);  
        }  
    }  


    @-webkit-keyframes right-two {  
        0% {  
            -webkit-transform:translateX(-100%);  
        }  

        50% {  
            -webkit-transform:translateX(-100%);  
        }  
        60% {  
            -webkit-transform:translateX(0);          
        }  
        90% {  
            -webkit-transform:translateX(0);          
        }  
        100%{  
            -webkit-transform:translateX(100%);  
        }  
    }  


    @-moz-keyframes right-two {  
        0% {  
            -moz-transform:translateX(-100%);  
        }  
        50% {  
            -moz-transform:translateX(-100%);  
        }  
        60% {  
            -moz-transform:translateX(0);          
        }  
        90% {  
            -moz-transform:translateX(0);          
        }  
        100%{  
            -moz-transform:translateX(100%);  
        }  
    }  

    .marquee.right p:nth-child(1) {  
        animation: right-one 20s ease infinite;  
        -webkit-animation: right-one 20s ease infinite;  
        -moz-animation: right-one 20s ease infinite;  
    }  
    .marquee.right p:nth-child(2) {  
        animation: right-two 20s ease infinite; 
        -webkit-animation: right-two 20s ease infinite;   
        -webkit-animation: right-two 20s ease infinite;  
    }  
/*end chữ chạy*/

.slogan-mobile .navbar-brand{
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0;
	height: auto;
	
}
.text-mobile h6, .text-mobile h5{
	color: #0073a8;
	margin-bottom: 0;
	
}
.text-mobile h5{
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(0 114 187);
}
.mega-text{
	color: rgb(0 114 187) !important;
	padding-left: 0 !important;
}
@media screen and (max-width: 767px) {
	.mega-text{
	color: #000 !important;
}
	.dropdown-header{
		padding-left: 0 !important;
	}
	.thongbao a{font-size: 16px;font-weight: 700;}
	.demission {
		padding: 5px;
}
	.truncate-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.carousel-inner > .item > img{
		max-width: none;
	}
	.center-block1{
		height: 280px !important;
	}
	.bg-den{
		left: 0;
		right: 0;
	}
	.tle-hot{
		font-size: 18px;
	}
	.hot-mobile{
		margin-bottom: 0 !important;
		line-height: 0.8 !important;
	}
	.box-td{
		min-height: 178px;
	}
	.box-td1{
		min-height: 145px;
	}
	.media-heading{margin-bottom: 0;}
	.media-heading a{font-size: 15px;}
	.box-nd{padding-left: 10px !important;
	padding-right: 10px !important;}
  }
.mt-10{
	margin-top: 10px;
}
.tle1{
	margin-top: 10px;
}
/*top*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: rgb(0 114 187);
	color: #fff;
	width: 50px;
	height: 48px;
	line-height: 44px;
	right: 20px;
	bottom: 10px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: rgb(76, 177, 240);
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
/*end top*/
.carousel12{
	padding-left: 30px;
	padding-right: 30px;
}
/*Trang CA*/
.bg-header-CA{
	width: 100%;
	height: 130px;
	position: relative;
}
.trongdong-CA{
	background: url(../images/trongdong-CA.png) no-repeat bottom left;
	height: 130px;
}
.slogan-CA{
	margin-top: 36px;
}
.carousel-caption-CA{
	left: 0;
	right: 0;
}
.icon-slide-CA{
	width: auto;
	margin-left: auto;
	right: 20px;
}
.line1{border-top: solid 3px #eeeeee;}
.min-h495{min-height: 495px;}
.hidden-scrollbar {
  overflow:hidden;
  text-align:justify;    
}

.hidden-scrollbar .inner {
  height:150px;
  overflow:auto;
  margin:0px -300px 0px 0px;
  padding-right:282px; /* Samakan dengan besar margin negatif */
}

.h446{min-height: 446px;}
/*end CA*/
/*page*/
.mtb-20{
	margin-bottom: 20px;
	margin-top: 10px;
}
.panel-danger1{
	border-radius: 0 !important;
	margin-top: 1px !important;
	border: solid 1px rgb(0 114 187);
	background-color: transparent;
}
.panel-heading1{
	background: rgb(0 114 187) !important;
	border-bottom: none !important;
	border-left: solid 10px #ca1619 !important;
	border-top-right-radius:0;
	border-top-left-radius:0;
	
}
.panel-heading1 a{
	color: #fff;
	font-size: 18px;
}
.text-ngayxam-page{
	color: #999999;
	font-size: 14px;
	font-style: italic;
	line-height: 33px;
}
.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color: rgb(0 114 187);
}
.pagination > .active > a{
	background: rgb(0 114 187);
	border: solid 1px rgb(0 114 187);
}
.bo-b1{
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
}
.icon-mang1 {
    font-size: 22px !important;
}
.icon-cn{
	padding: 2px 6px;
	color: #adadad;
}
.icon-cn:hover{
	border: solid 1px rgb(0 114 187);
	color: rgb(0 114 187);
	background: #fff;
}
.text-do1{color: rgb(0 114 187);}
.text-tinphu{color: #565656;}
.tinkhac{
	padding-left: 15px;
}
.tinkhac li{
	margin: 8px 0;
	text-align: justify;
}
.ml-20{margin-left: 10px;}
.box-videoright{
	border-bottom: solid 1px #e6e6e6;
	border-top: none;
	border-left: solid 1px #e6e6e6;
	border-right: solid 1px #e6e6e6;
	padding: 10px;
}
.tle-video{
	border-bottom: solid 2px rgb(0 114 187);
	margin-top: 0;
	padding-bottom: 10px;
}
.text-gopy{
	border-bottom: solid 1px rgb(0 114 187);
	color: rgb(0 114 187);
	padding-bottom: 10px;
}
.gopy{
	background: #f2f2f2;
	border-radius: 6px;
	padding: 20px;
	margin-top: 0;
}
.panel-group{
	background: url(../images/trongdong-big.png)no-repeat top right !important;
}
/*thu viện ảnh*/
.hide-bullets {
    list-style:none;
    margin-left: -40px;
}

.thumbnail {
    padding: 0;
}


.box-img{
	width: 200px;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
.bo-l{
	border-left: solid 1px #eee;
	padding-left: 20px;
}

/*end thư viện ảnh*/

/*end page*/
.mennu-act{
	font-weight: 700;
	color: rgb(0 114 187);
}
.navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}
/*page lanhdao*/
.tle-ld{
	background: #f5f5f5;
	border-top: solid 1px #eee;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 2px rgb(0 114 187);
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #292929;
	margin-bottom: 0;
	font-size: 21px;
	margin-top: 0;
}
.box-ld{
	border-bottom: solid 1px #eee;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	padding: 20px;
	display: inline-block;
	margin-bottom: 10px;
}
.name{
	text-transform: uppercase;
	color: rgb(0 114 187);
	font-size: 18px;
}
.text-dgdan{
	border-bottom: solid 2px rgb(0 114 187);
	color: #292929;
	padding: 7px;
	margin-top: 0;
	margin-bottom: 20px;
	background: #eee;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(0 114 187);
}
.breadcrumb{
	padding: 0 0 10px 0;
	background-color: transparent;
	margin-bottom: 0;
}
.breadcrumb li{font-size: 15px;}
.box-bo{
	border: solid 1px #eee;
	padding: 20px;
	margin-bottom: 20px;
}
.w250{width: 250px;}
/*end lanhdao*/
.box-timkiemvb{
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: none;
	background-color: #fffbd5;
	background: -moz-linear-gradient(bottom, #fff 20%, #fffbd5 80%);
	background: -o-linear-gradient(bottom, #fff 20%, #fffbd5 80%);
	background: -ms-linear-gradient(bottom, #fff 20%, #fffbd5 80%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, #fff),color-stop(0.8, #fffbd5));
	padding: 20px;
}
.line-do{
	background: rgb(0 114 187);
	height: 5px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.text-left1{
	text-align: left !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #fff;
	background: rgb(0 114 187);
	border: solid 1px rgb(0 114 187);
	text-transform: uppercase;
}
.nav-tabs > li > a:hover{background: rgb(0 114 187);border: solid 1px rgb(0 114 187);color: #fff;}
.bo-rcham{
	border-right: dotted 1px #ccc;
}
.text-danger{color: #ec2c24;}
.text-success{color: #26a62f;}
.text-vb{color: #666666;margin-right: 30px;font-size: 15px;}
.bo-bcham{border-bottom: dotted 1px #ccc;}
.panel-group1{
	background-image: none !important;
}
.nav-tabs{border-bottom: solid 1px rgb(0 114 187);}
.tab-content1{
	background-color: #fffded;
	background-color: -moz-linear-gradient(bottom, #fff 20%, #fffded 80%);
	background-color: -o-linear-gradient(bottom, #fff 20%, #fffded 80%);
	background-color: -ms-linear-gradient(bottom, #fff 20%, #fffded 80%);
	background-color: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, #fff),color-stop(0.8, #fffded));
	background-image: url(../images/td-gt.png) no-repeat center -50px;
}
.box-tab{
	padding: 20px;
	border-bottom: solid 1px rgb(0 114 187);
	border-left: solid 1px rgb(0 114 187);
	border-right: solid 1px rgb(0 114 187);
	background-color: #fffbd5;
	background: -moz-linear-gradient(bottom, #fff 20%, #fffbd5 80%);
	background: -o-linear-gradient(bottom, #fff 20%, #fffbd5 80%);
	background: -ms-linear-gradient(bottom, #fff 20%, #fffbd5 80%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, #fff),color-stop(0.8, #fffbd5));
}
.bg-gt{
	background-color: #fffded;
	background: -moz-linear-gradient(bottom, #fff 20%, #fffded 80%);
	background: -o-linear-gradient(bottom, #fff 20%, #fffded 80%);
	background: -ms-linear-gradient(bottom, #fff 20%, #fffded 80%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, #fff),color-stop(0.8, #fffded));
	border: solid 3px rgb(0 114 187)
}
.box-gt{
	background: url(../images/td-gt.png) no-repeat center -410px;
	position: relative;
}
.tle-gt{
	margin-top: 0;
	text-align: center;
	padding: 20px 0 0 0;
	line-height: 1.3;
}
.tle-gt img{
	margin-bottom: 10px;
}
.bg-ft-top{
	position: absolute;
	top: 2px;
	left: 2px;
}
.bg-ft-bottom{
	position: absolute;
	bottom: 2px;
	left: 2px;
}
.box-nd{padding: 20px 40px 40px 40px; text-align: justify;}
.tle-bai{
	text-transform: uppercase;
	color: rgb(0 114 187);
}
.text-dobai{
	color: rgb(0 114 187);
	font-size: 18px;
}
.di-b{display: inline !important;}
.text-troso{text-transform: uppercase;margin-top: 0;}
.table{background: #fff;}
.w30{width: 30%;}
.mr-20{margin-right: 20px;}
.list-tk li{
	border-bottom: solid 1px rgb(0 114 187);
	padding-top: 20px;
}
.text-small1{font-size: 13px;text-align: justify;color: #6f6f6f;margin-bottom: 20px;}
.mr-23{
	margin-right: 23px;
}
.mr-10{
	margin-right: 10px;
}
.btn-commen{
	background-color: transparent;
	border: none;
	padding-left: 0;
	color: rgb(0 114 187);
	margin-right: 10px;
}
.btn-commen:hover{color: rgb(0 114 187);}
.h340{
	height: 340px;
}
.btn-xemthem{
	background-color: transparent;
	padding: 0;
	border: none;
	color: #ecdca4;
	font-size: 16px;
	margin-top: 50px;
}
.btn-xemthem:hover, .btn-xemthem:focus{
	box-shadow:inset 0 3px 5px rgba(227, 57, 60, 0.125) !important;
	background-color: transparent !important;
	color: #fff !important;
}
.min-h335{
	min-height: 344px;
}
.box-tin2 {
    border: none !important;
    padding: 20px;
}
.box-tin1 {
    border-bottom: solid 1px #e6e6e6;
    border-top: none;
    border-left: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
    min-height: 430px;
}
.tle-sub {
    background: #f0f0f0;
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
.tle-subR {
    background: #f0f0f0;
    margin-top: 0;
    padding: 10px;
    margin-right: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
.text-thongke{margin-bottom: 20px;}
.text-thongke h1, .text-thongke h4{
	color: #1254b7;
	text-align: center;
}
.text-thongke h1{
	font-weight: 700;
	margin-top: 0;
}
.box-thongke h2{font-weight: 700;margin-bottom: 0;margin-top: 0; font-size: 26px;}
.box-thongke{
	text-align: center;
	color: #fff;
	border-radius: 6px;
	padding: 10px;
	min-height: 120px;
}
.btn-tim{background: #d0228d;}
.btn-tim:hover{background: #bd117a;}
.btn-nau{background: #9d3e3e;}
.btn-nau:hover{background: #832626;}
.btn-lama{background: #989611;}
.btn-lama:hover{background: #6d6c06;}
.mrl-30{margin-left: 30px; margin-right: 30px;}
.mbt-5{margin-top: 5px;margin-bottom: 5px;}
.w44{width: 44px;}
.w70{width: 70px;}
.minh498a {
    min-height: 430px;
}
.text-trangF {
    color: #fff;
    text-transform: uppercase;
}


